.Gradient{
         background: linear-gradient(270deg, #663324, #245d66, #5f6624);
         background-size: 600% 600%;

         -webkit-animation: AnimationName 8s ease infinite;
         -moz-animation: AnimationName 8s ease infinite;
         animation: AnimationName 8s ease infinite;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        z-index: 1;
        opacity:0.4;
    }
     @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }
.ProjectContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 10%;
    left: 5%;
    margin-left: 40px;
    height: 50rem;
}

.Projects:focus{
    outline: 0;
}
.Projects:hover{
    background: rgb(27, 26, 26);
    color:white;
}
#aldebaran{
    animation: vision 0.5s ease-in 0.8s 1 forwards;
}
#knight{
    animation: vision 0.5s ease-in 1.0s 1 forwards;
}
#calculator{
    animation: vision 0.5s ease-in 1.2s 1 forwards;
}
#tictac{
    animation: vision 0.5s ease-in 1.4s 1 forwards;
}
@media only screen and (min-width: 768px){
    .ProjectContent {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        top: 30%;
        left: 5%;
        margin-left: 3rem;
        width: 70rem;
        height: 25rem;
    }
    .Gradient{
        height: 40rem;
    }
}