@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.About-Content{
    display: flex;
    flex-direction: column;
    margin-top: 16vh;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    opacity: 0;
    animation: Showup 0.5s ease-in 0.4s 1 forwards;
}

.About-Content  h1{
    font-size: 3rem;
}
.About-Content > p{
    font-size: 2.5rem;
}
.About-Content img{
    width: 90vw;
    height: 50vh;
    margin-left: 2vw;
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
}
@media only screen and (min-width: 768px){
    .About-Content img{
        width: 30vw;
        height: 60vh;
    }
    .Content-Flex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}