.Copyright-footer{
    background-color: #262626;
    color: white;
    text-align: center;
    padding-top: 3vh;
    box-shadow: 5px 10px 30px #000000;
    padding-bottom: 2vh;
}
.Footer-elements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 20vw;
    margin-left: 40%;
    margin-bottom: 10px;
}
.Footer-links{
    text-decoration: none;
    text-align: left;
    color: #e5e5e5;
    font-size: 1.5rem;
    &:hover{
        color: red;
    }
}
.Footer-Icon-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50vw;
    margin-left: 25%;
    margin-bottom: 30px;
}
.Footer-Icons{
    &:hover{
        transform: scale(1.2);
    }
}
@media only screen and (min-width: 768px){
    .Copyright-footer{
        padding-top: 2vh;
    }
    .Footer-elements{
        width: 50vw;
        transform: translate(50%);
        margin-left: initial;
    }
    .Footer-Icon-elements{
        width: 50vw;
        transform: translate(50%);
        margin-left: initial;
    }
}