.Nav-Mobile{
    margin-top: 13vh;
    position: fixed;
    top: 0;
    left: 0;
    height: 63vh;
    width: 100%;
    background-color: black;
    z-index: 10;
}
.Nav-Flex-Mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}
.Nav-Elements-Mobile{
    color: white;
    text-decoration: none;
    font-family: "Roboto Slab";
    padding: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.5rem;
}
.Nav-Elements-Mobile:hover{
    color: black;
    background-color: white;
}
@media only screen and (min-width: 768px){
    .Nav-Mobile{
        display: none;
    }
    .Nav-Flex-Mobile{
        display: none;
    }
}