.Project-Card{
    width: 100%;
    height: 140vh;
    transition: all .2s ease-in-out;
    font-family: 'Slabo 27px', serif;
    display: flex;
    flex-direction: column;
}
.Desktop-Only{
    display: none;
}
.Project-Card-Flex{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10vw;
}
.Project-Content-Flex{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.Project-Card-Header img{
    width: 100%;
    height: 30vh;
    border-radius: 6px;
    margin-top: 5vh;
    box-shadow: 5px 15px gray;
    animation: float 6s ease-in-out infinite;
}
.Project-Card-Body{
    width: 80vw;
}
.Project-Card-Body h1{
    text-align: center;
    font-size: 2rem;
}
.Project-Card-Body p{ 
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-size: 1.5rem;
}
.Project-Card-Footer a{
    background-color: #e0ca3c;
    text-decoration: none;
    border-style: solid;
    font-size: 1.5rem;
    border-radius: 6px;
    margin-left: 2%;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition: all .4s ease-in-out;
    border-style: none;
    align-items: flex-end;
    color: #1b1b1e;
}
.Project-Card-Footer{
    text-align: center;
    font-size: 1.5rem;
}
.Project-Card-Footer div{
    text-align: left;
    margin-left: 30%;
}
.Project-Card-Footer a:hover{
    background-color: #fbfffe;
}
@media only screen and (min-width: 768px){
    .Project-Card-Body p{
        margin-left: 7vw;
        margin-right: 7vw;
    }
    .Project-Card-Header{
        width: 70vw;
    }
    .Project-Card-Header img{
        width: 100%;
        height: 50vh;
    }
    .Project-Card-Body{
        width: 100%;
    }
    .Project-Card-Footer div{
        text-align: left;
        margin-left: 37%;
    }
    .Project-Card-Flex{
        flex-direction: row;
        width: 90%;
        margin-left: 5vw;
        margin-top: 15vh;
        justify-content: space-evenly;
    }
    .Project-Card{
        height: 140vh;
    }
    .Mobile-Only{
        display: none;
    }
    .Desktop-Only{
        display: initial;
    }
}