.Projects-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 18vh;
    margin-left: 12vw;
    width: 60vw;
}
#Project-1{
    opacity: 0;
    animation: Showup 0.5s ease-in 0.8s 1 forwards;
}
#Project-2{
    opacity: 0;
    animation: Showup 0.5s ease-in 1s 1 forwards;
}
#Project-3{
    opacity: 0;
    animation: Showup 0.5s ease-in 1.2s 1 forwards;
}
#Project-4{
    opacity: 0;
    animation: Showup 0.5s ease-in 1.4s 1 forwards;
}
#Project-5{
    opacity: 0;
    animation: Showup 0.5s ease-in 1.6s 1 forwards;
}
@media only screen and (min-width: 768px){
    .Projects-flex{
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 8vw;
        justify-content: space-between;
        width: 80vw;
    }
}