.Card-b{
    width: 100%;
    background-color: rgb(218, 213, 213);
    font-family: 'Slabo 27px', serif;
}
.Card-header{
    text-align: start;
    color: white;
    background-color: #008073;
    font-size: 1.5rem;
    height: 90px;
}
.Card-header h1{
    margin-left: 3vw;
    padding-top: 20px;
}
.Card-body{
    font-size: 4vh;
    margin-left: 4vw;
    width: 80vw;
}
@media only screen and (min-width: 768px){
    .Card-body{
        margin-left: 10vw;
        margin-top: 10vh;
    }
}