@keyframes appear{
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.transition-b{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    animation: appear 0.7s ease-in 0s 1 forwards;
    background-color: black;
    z-index: 999;
    height: 40rem;
}
.ContactsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 5%;
    font-family: 'Roboto Slab', serif;
}
@media only screen and (min-width: 768px){
    .ContactsContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 10%;
        left: 15%;
        font-family: 'Roboto Slab', serif;
    }
}