
.BodyResume {
    font-family: 'Roboto Slab', serif;
    font-size: 120%;
    margin-left: 5%;
    margin-right: 5%;
}
.Paragraph{
    display: flex;
    flex-direction: row;
    width: 80rem;
    height: 2rem;
}
.Background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000000;
    transition-duration: 0.2s;
    opacity: 0;
}

.Contents {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 85%;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: auto;
}

.Header {
    position: fixed;
    right: 10%;
    top: 5%;
}

.ModalImg {
    height: 50vw;
    width: 70vw;
    object-fit: cover;
    margin-bottom: 2rem;
}

.Repos {
    display: flex;
    justify-content: center;
    padding: 2px;
    text-decoration-line: none;
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    width: 50%;
}

.Repos:hover {
    background: black;
}

.Close {
    background: none;
    border: none;
}

.Close:focus {
    outline: 0;
}

.fa-times {
    color: gray;
}

.fa-times:hover {
    color: white;
}
.Centered{
    text-align: center;
    color: rgb(55, 195, 219);
}

#Mwindow {
    animation: vision 0.4s ease-in 0s 1 forwards;
}

@media only screen and (min-width: 768px) {
    .Repos {
        width: 20%;
        margin-left: 40%;
    }
}