.Stay-put{
    overflow-y: hidden;
}
.ResumeContent {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: left;
    top: 5%;
    left: 5%;
    height: 60rem;
    z-index: -1;
    overflow-y: scroll;
}
.button{
    position: absolute;
    bottom: -1480px;
    left: 30%;
    text-decoration-line: none;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(12, 95, 12, 2);
    border-style: solid;
    border-radius: 10px;
    transition: 0.3s;
}
.Formatting{
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    width: 80vw;
}
.ResumeContent::-webkit-scrollbar{
    display: none;
}

#Header{
    font-size: 1.5rem;
    color: rgb(231, 217, 18);
    letter-spacing: 2px;
}
#Contents{
    font-size: 60%;
    text-align: left;
    color: white;
    line-height: 25px;
}
#Reserved{
    color: rgb(149, 149, 238);
}
#Header-two {
    color: rgb(175, 13, 13);
    letter-spacing: 2px;
}
#Types{
    color: green;
}
#lightBlue{
    color: rgb(106, 160, 20);
}
#orange{
    color: orange;
}
#Indent{
    margin-left: 2rem;
}
#Yellow{
    color: yellow;
}
#Magenta{
    color: magenta;
}
#PDF{
    position: relative;
    top: 10rem;
    right: -40rem;
    padding: 1rem;
    border-radius: 10%;
}
@media only screen and (min-width: 768px) {
    
    .ResumeContent {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: center;
        top: 5%;
        left: 10%;
        width: 60rem;
        padding: 2%;
    }

    .button {
        position: absolute;
        bottom: -95vw;
        left: 40%;
    }

    .Formatting {
        font-size: 2.5rem;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 2px;
    }

    #Header {
        font-size: 2.75rem;
        color: rgb(231, 217, 18);
        letter-spacing: 2px;
    }

    #Contents {
        font-size: 60%;
        text-align: left;
        color: white;
        line-height: 25px;
    }

    #Reserved {
        color: rgb(149, 149, 238);
    }

    #Header-two {
        color: rgb(175, 13, 13);
        letter-spacing: 2px;
    }

    #Types {
        color: green;
    }

    #lightBlue {
        color: rgb(106, 160, 20);
    }

    #orange {
        color: orange;
    }

    #Indent {
        margin-left: 5rem;
    }

    #Yellow {
        color: yellow;
    }

    #Magenta {
        color: magenta;
    }

    #PDF {
        position: relative;
        top: 10rem;
        right: -40rem;
        padding: 1rem;
        border-radius: 10%;
    }
}