.Dropdown {
    position: fixed;
    margin-top: 43px;
    background: black;
    z-index: 9999;
    border-top: solid;
    border-top-color: rgb(100, 100, 100);
    opacity: 0;
}

.ElementsDrop {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 0.8rem;
    text-align: center;
    background: black;
}
#drop{
    animation: vision 0.25s ease-in 0s 1 forwards;
}
@media only screen and (min-width: 768px) {
    .Dropdown{
        display: none;
    }
}